<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.acidham.vccode</string>
	<key>category</key>
	<string>Dev</string>
	<key>connections</key>
	<dict>
		<key>1E4C47DC-9E0D-4CA7-9C58-BDBCAEBAFD19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DBBB615-498F-4D84-9571-CB42B2B6718A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D127197-9285-4404-AEBE-1F4D32B3B721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72D88578-E25F-46FB-A5F2-C8DDFDAAF29A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DBBB615-498F-4D84-9571-CB42B2B6718A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69ED09D1-D034-4CEE-8A72-742ADCC2F5DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9711F15B-6552-43D7-B359-7936B35E017E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6A299C3-A9B5-447F-8280-A0F821D0C66D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72D88578-E25F-46FB-A5F2-C8DDFDAAF29A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0CE7327-1CF8-45D3-97C5-E4BE466D5045</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FAB606CA-AF3E-4839-83BB-64BE1710BF6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0F34B2F-091A-49DB-9E4D-B5D867B31A9E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAB606CA-AF3E-4839-83BB-64BE1710BF6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4C47DC-9E0D-4CA7-9C58-BDBCAEBAFD19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Acidham</string>
	<key>description</key>
	<string>Open VSCode Workspace</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSCode Workspace Explorer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./AlfredWorkflowUpdater "Acidham/alfred-vscode-workspace-explorer" "1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0CE7327-1CF8-45D3-97C5-E4BE466D5045</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string>{var:mypath}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>69ED09D1-D034-4CEE-8A72-742ADCC2F5DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./py3.sh open.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>open.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E4C47DC-9E0D-4CA7-9C58-BDBCAEBAFD19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>*ifdir</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6D127197-9285-4404-AEBE-1F4D32B3B721</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vsc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

./py3.sh list.py "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list.py</string>
				<key>subtext</key>
				<string>Open Workspace in VSCode</string>
				<key>title</key>
				<string>Explore VSCode Workspaces</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72D88578-E25F-46FB-A5F2-C8DDFDAAF29A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>FILE</string>
						<key>outputlabel</key>
						<string>FILE</string>
						<key>uid</key>
						<string>9711F15B-6552-43D7-B359-7936B35E017E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>DIR</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6DBBB615-498F-4D84-9571-CB42B2B6718A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>mypath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FAB606CA-AF3E-4839-83BB-64BE1710BF6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>*ifdir</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F6A299C3-A9B5-447F-8280-A0F821D0C66D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>F0F34B2F-091A-49DB-9E4D-B5D867B31A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>6B3799D0-47A0-43A7-9A71-DA84803C6304</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Explore/open VSCode Workspaces

# VSCode Workspace Explorer

Search&amp;Browser VS Code Workspaces</string>
	<key>uidata</key>
	<dict>
		<key>1E4C47DC-9E0D-4CA7-9C58-BDBCAEBAFD19</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>69ED09D1-D034-4CEE-8A72-742ADCC2F5DB</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>6B3799D0-47A0-43A7-9A71-DA84803C6304</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>6D127197-9285-4404-AEBE-1F4D32B3B721</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6DBBB615-498F-4D84-9571-CB42B2B6718A</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>72D88578-E25F-46FB-A5F2-C8DDFDAAF29A</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A0CE7327-1CF8-45D3-97C5-E4BE466D5045</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>F0F34B2F-091A-49DB-9E4D-B5D867B31A9E</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F6A299C3-A9B5-447F-8280-A0F821D0C66D</key>
		<dict>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>FAB606CA-AF3E-4839-83BB-64BE1710BF6E</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Viscual Studio Code Workspace Folder</string>
			<key>label</key>
			<string>VS Code Workspaces</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>workspaces_home</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.9.5</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
